.mobile-nav {
  position: fixed;
  overflow: auto;
  padding: 0;
  margin: 0;

  &.active {
    display: block;
  }

  li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    > ul {
      display: none;
      flex-wrap: wrap;
      flex-direction: column;
      width: 100%;
      padding: 0;

      &.active {
        display: flex;
      }
    }
  }

  a + * {
    cursor: pointer;
  }
}

.mobile-toggler {
  position: relative;
  display: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  .mobile-toggler {
    display: block;
  }
}